In [1]:
from json import load

import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler


from utils.common_transformers import DTypeTransformer, LogTransformer, SqrtTransformer

In [2]:
df = pd.read_csv("../intermediate_data/null_outlier_duplicates_handled.csv")
with open("../intermediate_data/dtypes.json","r") as f:
    mapping = load(f)
mapping

{'Parch_is_outlier': 'bool',
 'Fare_is_outlier': 'bool',
 'Age_is_outlier': 'bool',
 'SibSp_is_outlier': 'bool',
 'Survived': 'bool',
 'Age_is_null': 'bool',
 'Cabin_is_null': 'bool',
 'Embarked_is_null': 'bool',
 'Sex': 'category',
 'Pclass': 'category',
 'Embarked': 'category',
 'Parch': 'category',
 'SibSp': 'category'}

In [3]:
df = DTypeTransformer(mapping).fit_transform(df)

In [4]:
train = df.sample(frac=0.8)
test = df.drop(train.index)

target_col = "Survived"

train will be used to compute parameters for feature engineering  
val will be used to validate that 'unseen' data behaves in same way after applying feature engineering using parameters learned from 'train' dataset

In [5]:
(df.shape,train.shape,test.shape)

((891, 19), (713, 19), (178, 19))

# Feature Engineering and Validation

In [6]:
train.head()

,Ticket,Sex,Name,Embarked,Fare_is_outlier,Survived,SibSp,Fare,Parch,null_pct,PassengerId,SibSp_is_outlier,Pclass,Age,Parch_is_outlier,Age_is_outlier,Age_is_null,Cabin_is_null,Embarked_is_null
206,3101278,male,"Backstrom, Mr. Karl Alfred",S,False,False,1,15.850,0,8.33,207,False,3,32.0,False,False,False,True,False
345,248733,female,"Brown, Miss. Amelia ""Mildred""",S,False,True,0,13.000,0,0.00,346,False,2,24.0,False,False,False,False,False
382,STON/O 2. 3101293,male,"Tikkanen, Mr. Juho",S,False,False,0,7.925,0,8.33,383,False,3,32.0,False,False,False,True,False
408,312992,male,"Birkeland, Mr. Hans Martin Monsen",S,False,False,0,7.775,0,8.33,409,False,3,21.0,False,False,False,True,False
812,28206,male,"Slemen, Mr. Richard James",S,False,False,0,10.500,0,8.33,813,False,2,35.0,False,False,False,True,False

### Explore, engineer features (some based on assumptions) using train dataset
### Validate those assumptions using test dataset

## Feature Transformations

##### Transform numeric features , find the best transformation for each feature

In [7]:
# if it follows standard, user standard scaler, else find the transformation, first get it to normal , then scaling of not in bounds

In [ ]:
d = pd.DataFrame({
    "A" : []
})