In [4]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import VarianceThreshold

from json import load

In [5]:
df = pd.read_csv("../intermediate_data/null_outlier_duplicates_handled.csv")
with open("../intermediate_data/dtypes.json","r") as f:
    mapping = load(f)
mapping

{'Parch_is_outlier': 'bool',
 'Fare_is_outlier': 'bool',
 'Age_is_outlier': 'bool',
 'SibSp_is_outlier': 'bool',
 'Survived': 'bool',
 'Age_is_null': 'bool',
 'Cabin_is_null': 'bool',
 'Embarked_is_null': 'bool',
 'Sex': 'category',
 'Pclass': 'category',
 'Embarked': 'category',
 'Parch': 'category',
 'SibSp': 'category'}

In [ ]:
df = DTypeTransformer(mapping).fit_transform(df)

In [ ]:
train = df.sample(frac=0.8)
test = df.drop(train.index)

target_col = "Survived"

train will be used to compute parameters for feature engineering  
val will be used to validate that 'unseen' data behaves in same way after applying feature engineering using parameters learned from 'train' dataset

In [ ]:
(df.shape,train.shape,test.shape)

# Self EDA, Feature Engineering and Validation

In [91]:
train.head()

,Name,Embarked,Sex,Ticket,Parch,Fare,PassengerId,Age_is_outlier,null_pct,Pclass,Age,Parch_is_outlier,Survived,SibSp_is_outlier,SibSp,Fare_is_outlier,Age_is_null,Cabin_is_null,Embarked_is_null
734,"Troupiansky, Mr. Moses Aaron",S,male,233639,0,13.000,735,False,8.33,2,23.0,False,False,False,0,False,False,True,False
848,"Harper, Rev. John",S,male,248727,1,33.000,849,False,8.33,2,28.0,True,False,False,0,False,False,True,False
342,"Collander, Mr. Erik Gustaf",S,male,248740,0,13.000,343,False,8.33,2,28.0,False,False,False,0,False,False,True,False
336,"Pears, Mr. Thomas Clinton",S,male,113776,0,14.460,337,False,0.00,1,29.0,False,False,False,1,True,False,False,False
350,"Odahl, Mr. Nils Martin",S,male,7267,0,9.225,351,False,8.33,3,23.0,False,False,False,0,False,False,True,False

### Explore, find patterns, engineer features (some based on assumptions) using train dataset
### Validate those assumptions using test dataset

## Feature Transformations

#### Before that, checking for low variance features

In [106]:
var_thresh = VarianceThreshold()
var_thresh.fit(df)

NameError: name 'VarianceThreshold' is not defined

In [ ]:
var_thresh = VarianceThreshold()
var_thresh.fit(df)
cols_removed = [j for i,j in enumerate(list(num_data.columns)) if not var_thresh.get_support()[i]]

print("Cols Removed: ", cols_removed)

df.drop(num_data.columns,axis=1,inplace=True)
df = pd.concat([df,num_data.iloc[:,var_thresh.get_support()]],axis=1)

#### Standardizing features

##### Transform numeric features , find the best transformation for each feature

In [6]:
# if it follows standard, user standard scaler, else find the transformation, first get it to normal , then scaling of not in bounds