In [1]:
from json import load

import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler


from utils.common_transformers import DTypeTransformer, LogTransformer

In [2]:
df = pd.read_csv("../intermediate_data/null_outlier_duplicates_handled.csv")
with open("../intermediate_data/dtypes.json","r") as f:
    mapping = load(f)
mapping

{'Parch_is_outlier': 'bool',
 'Fare_is_outlier': 'bool',
 'Age_is_outlier': 'bool',
 'SibSp_is_outlier': 'bool',
 'Survived': 'bool',
 'Age_is_null': 'bool',
 'Cabin_is_null': 'bool',
 'Embarked_is_null': 'bool',
 'Sex': 'category',
 'Pclass': 'category',
 'Embarked': 'category',
 'Parch': 'category',
 'SibSp': 'category'}

In [3]:
df = DTypeTransformer(mapping).fit_transform(df)

In [4]:
train = df.sample(frac=0.8)
test = df.drop(train.index)

target_col = "Survived"

train will be used to compute parameters for feature engineering  
val will be used to validate that 'unseen' data behaves in same way after applying feature engineering using parameters learned from 'train' dataset

In [8]:
(df.shape,train.shape,test.shape)

((891, 19), (713, 19), (178, 19))

# Feature Engineering and Validation

In [91]:
train.head()

,Name,Embarked,Sex,Ticket,Parch,Fare,PassengerId,Age_is_outlier,null_pct,Pclass,Age,Parch_is_outlier,Survived,SibSp_is_outlier,SibSp,Fare_is_outlier,Age_is_null,Cabin_is_null,Embarked_is_null
734,"Troupiansky, Mr. Moses Aaron",S,male,233639,0,13.000,735,False,8.33,2,23.0,False,False,False,0,False,False,True,False
848,"Harper, Rev. John",S,male,248727,1,33.000,849,False,8.33,2,28.0,True,False,False,0,False,False,True,False
342,"Collander, Mr. Erik Gustaf",S,male,248740,0,13.000,343,False,8.33,2,28.0,False,False,False,0,False,False,True,False
336,"Pears, Mr. Thomas Clinton",S,male,113776,0,14.460,337,False,0.00,1,29.0,False,False,False,1,True,False,False,False
350,"Odahl, Mr. Nils Martin",S,male,7267,0,9.225,351,False,8.33,3,23.0,False,False,False,0,False,False,True,False

### Explore, engineer features (some based on assumptions) using train dataset
### Validate those assumptions using test dataset

## Feature Transformations

##### Transform numeric features , find the best transformation for each feature

In [6]:
# if it follows standard, user standard scaler, else find the transformation, first get it to normal , then scaling of not in bounds

In [10]:
a = [[1,88,3],[2,90,91]]

b = PowerTransformer()

In [11]:
b.fit_transform(a)

/Users/susmitvengurlekar/opt/miniconda3/lib/python3.7/site-packages/sklearn/preprocessing/_data.py:2995: RuntimeWarning: divide by zero encountered in log
  loglike = -n_samples / 2 * np.log(x_trans.var())

array([[-1.,  0., -1.],
       [ 1.,  0.,  1.]])

In [12]:
b.lambdas_

array([ 1.06592698e-07, -1.89442716e+01,  1.62546826e-10])

In [13]:
c = PowerTransformer()
c.lambdas_ = [ 1.06592698e-07, -1.89442716e+01,  1.62546826e-10]

In [15]:
b._scaler

StandardScaler(copy=False)

In [14]:
c.transform(a)

AttributeError: 'PowerTransformer' object has no attribute '_scaler'