In [42]:
import pandas as pd
from sklearn.base import BaseEstimator, TransformerMixin

In [48]:
class DigitExtractorTransformer(BaseEstimator,TransformerMixin):
    def __init__(self,cols_to_extract_digits = []):
        self.cols = None
        self.cols_to_extract_digits = cols_to_extract_digits
        
    def fit(self,X,y=None):
        self.cols = list(X.columns)
        return self
    
    def transform(self,X,y=None):
        copy = X.copy()
        
        for col in self.cols_to_extract_digits:
            copy[col] = copy[col].str.extract(r"(\d+)")
            
        return copy
    
    def get_feature_names(self):
        return self.cols

In [49]:
df = pd.DataFrame({
    "ID" : list(range(5)),
    "SeatNo" : ["A101", "A102", "A103", "A104", "A105"]
})
df.transpose()

           0     1     2     3     4
ID         0     1     2     3     4
SeatNo  A101  A102  A103  A104  A105

In [50]:
det = DigitExtractorTransformer(["SeatNo"])
det.fit_transform(df).transpose()

          0    1    2    3    4
ID        0    1    2    3    4
SeatNo  101  102  103  104  105